body{
    text-align: center;
    background-color:darkmagenta;
}

div {
    margin-top: 15px;
}

.image-section{
    display: flex;
    justify-content: center;
}

.img {
    width: 175px;
    margin-bottom: 50px;
    
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: cadetblue
}